fastapi
uvicorn
python-multipart
python-dotenv
requests
openpyxl
pandas
numpy
pdfplumber
pdf2image
pytesseract
opencv-python-headless
rapidfuzz
xlsxwriter
pillow
supabase==2.3.4
httpx==0.24.1
gotrue==2.4.2
postgrest==0.15.0